@model int
<div class="Container row pt-4">
	<div class="col-12 text-center">
		<h1>Thank You For Your Order</h1>
		<h3>Your Order Number @Model Has Been Successfully Placed</h3>
		<img src="~/img/OrderConfirmation.png" width="300" height="300" />
		<hr />
	</div>
	
</div>