@using myShop.Entities.ViewModels
@using Microsoft.Extensions.Options  
@model ShoppingCartViewModel
 @inject IOptions<Utilities.StripeData> Stripe 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="Style.css" rel="stylesheet" />
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel="stylesheet">
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js' rel="stylesheet">
    <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel="stylesheet">
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link href="~/shoppingcart/CSS.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>

<div class="wrapper">
    <div class="h5 large">Billing Address</div>
    <form method="post" asp-action="Summary">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 offset-lg-0 offset-md-2 offset-sm-1">
            <div class="mobile h5">Billing Address</div>
            <div id="details" class="bg-white rounded pb-5">
                    <div class="form-group">
                        <label class="text-muted">Name</label>
                        <input asp-for="Order.Name" type="text"  class="form-control">
                        <span asp-validation-for="Order.Name"></span>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>City</label>
                                <div class="d-flex jusify-content-start align-items-center rounded p-2">
                                    <input asp-for="Order.City" type="text">
                                    <span class="fas fa-check text-success pr-2"></span>
                                    <span asp-validation-for="Order.City"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Phone Number</label>
                                <div class="d-flex jusify-content-start align-items-center rounded p-2">
                                        <input asp-for="Order.Phone" type="text">
                                    <span class="fas fa-check text-success pr-2"></span>
                                        <span asp-validation-for="Order.Phone"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Address</label>
                                <div class="d-flex jusify-content-start align-items-center rounded p-2">
                                    <input type="text" asp-for="Order.Address">
                                    <span class="fas fa-check text-success pr-2"></span>
                                        <span asp-validation-for="Order.Address"></span>

                                </div>
                            </div>
                        </div>
                    </div>
                   
            </div>
    
        </div>
        <div class="col-lg-6 col-md-8 col-sm-10 offset-lg-0 offset-md-2 offset-sm-1 pt-lg-0 pt-3">
            <div id="cart" class="bg-white rounded">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="h6">Cart Summary</div>
                    <div class="h6">
                        <a href="#">Edit</a>
                    </div>
                </div>
                @foreach(var item in Model.CartsList)
                {
                <div class="d-flex jusitfy-content-between align-items-center pt-3 pb-2 border-bottom">
                    <div class="item pr-2">
                        <img src="@item.Product.Img"
                             alt="" width="80" height="80">
                        <div class="number">@item.Count</div>
                    </div>
                    <div class="d-flex flex-column px-3">
                        <b class="h5">@item.Product.Name</b>
                        <a href="#" class="h5 text-primary">C-770</a>
                    </div>
                    <div class="ml-auto">
                        <b class="h5">$@(item.Product.Price * item.Count)</b>
                    </div>
                </div>
                <div class="my-3">
                    <input type="text" class="w-100 form-control text-center" placeholder="Gift Card or Promo Card">
                </div>
                
                }
            </div>
            
            <p class="text-muted">Need help with an order?</p>
            <p class="text-muted"><a href="#" class="text-danger">Hotline:</a>+314440160 (International)</p>
         
            <div id="summary" class="bg-white rounded py-2 my-4">
                
                <div class="border-top py-2 d-flex align-items-center ml-2 font-weight-bold">
                    <div>Total</div>
                    <div class="ml-auto text-primary">USD</div>
                            <div class="px-2">$@Model.TotalCarts</div>
                </div>
            </div>
            <div class="row pt-lg-3 pt-2 buttons mb-sm-0 mb-2">
                <div class="col-md-6">
                        <div class="btn text-uppercase"><a href="/Customer/Home">back to shopping</a></div>
                </div>
                <div class="col-md-6 pt-md-0 pt-3" style="padding-inline:0px;">
                    <button type="submit" class="btn btn-primary">Place order</button>
                    </div>
                </div>
            </div>
            <div class="text-muted pt-3" id="mobile">
                <span class="fas fa-lock"></span>
                Your information is save
            </div>
            </form>
        </div>
    </div>
    <div class="text-muted">
        <span class="fas fa-lock"></span>
        Your information is save
    </div>
    </div>
</body>
</html>